<h1><%= @user.first_name %> welcome to Fatkick</h1>

<p>
  You are now able to save Sneakers to your bucket lists and add Price watches.
</p>
<p>Yours Sincerely, <br><br>The Fatkick Team</p>

<%= link_to "Sign In Now", new_user_session_url %>
