
   <p> Add price watch to pin in <%= @pin.bucket.name %> </p>
 <%= simple_form_for(@pin, remote: true) do |f| %>

                        <%= f.input :price_watch, label: "Add Price watch?", priority: ["Any Price Drop", 1], collection: [["Any Price Drop", 1], ["10% Or More Off", 10], ["20% Or More Off", 20]], include_blank: false, input_html: {class: "overflow-rigid", size: 3} %>

                        <%= f.submit "do it!", class: "pinSubmit" %>
                        <% end %>
