$(".bucketButton-<%= @pin.sneaker.id %>").html("<p style='color: red;'>view in <%= j link_to @pin.bucket.name, bucket_path(@pin.bucket) %> </p>");
<% if @pin.price_watch? %>
$('.addPriceWatch-<%= @pin.id %>').html('<p>Price watch Added!</p>');
$(".addPriceWatchNoPin-<%= @pin.sneaker.id %>").html('<p>Price watch Added!</p>');
<% end %>
