/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */
.facet_list li {
  list-style: none;
}

li.filters {
  border: 1px solid black;
}

footer {
  height: 200px;
  background-color: #4d4d4d;
  color: white;
  margin-top: 250px;
}
