<div class="bucketButton-<%= @sneaker.id %>">
    <!-- work out a better way to do this -->
  <% if @current_pin = pin_exist?(@sneaker) %>
      <p>View in <%= link_to @current_pin.bucket.name, user_path(current_user) %></p>
<% else %>
  <div class="bucketListButton">
    + Save
  </div>

  <%= render 'shared/bucket_list' %>
  <% end %>
  </div>
