<div class="row">
<div class="col-md-8 col-md-offset-2">
<h1>Contact us</h1>
<p>
We are always happy to have a chat about our business, our website or life in general :-).
</p>
<p>Drop us a line at: contact@hyphmode.com</p>
</div>
</div>
