<div class="row">
<div class="col-md-8 col-md-offset-2">
<h1>Privacy Policy</h1>

<p>
Thank you for Using our website. This document has been put together to help you understand how we use your data.
</p><p>
We collect information in a few different ways:
1. When you give it to us or give us permission to obtain it
When you sign up for or use our products, you voluntarily give us certain information. This can include but not limited to your name, profile photo, email address, and any other information you provide us with.
</p><p>
2. We also get technical information when you use our products
</p><p>
Below we describe the technical data we collect from you.
</p><p>
Log data. When you use Hyphmode, our servers automatically record information (“log data”), including information that your browser sends whenever you visit a website or your mobile app sends when you’re using it. This log data may include your Internet Protocol address browser type and settings, the date and time of your request, how you used Hyphmode, and cookie data.
 </p><p>
Cookie data. Depending on how you’re accessing our products, we may use “cookies” (small text files sent by your computer each time you visit our website, unique to your Hyphmode account or your browser) or similar technologies to record log data. When we use cookies, we may use “session” cookies (that last until you close your browser) or “persistent” cookies (that last until you or your browser delete them).
  </p><p>
Device information. In addition to log data, we may also collect information about the device you’re using Hyphmode on, including what type of device it is, what operating system you’re using, device settings, unique device identifiers, and crash data. Whether we collect some or all of this information often depends on what type of device you’re using and its settings. For example, different types of information are available depending on whether you’re using a Mac or a PC, or an iPhone or an Android phone.
 </p><p>
3. Third Part Service providers and advertisers may share information with us
We may get information about you and your activity off Hyphmode from our affiliates, advertisers, partners and other third parties we work with. For example:
 </p><p>
Online advertisers typically share information with the websites or apps where they run ads to measure and/or improve those ads. We also receive this information, which may include information like whether clicks on ads led to purchases or a list of criteria to use in targeting ads.

 </p><p>

How do we use the information we collect?
We use the information we collect to provide our products to you and make them better and to develop new products.
 </p><p>
For example we may use this data to suggest certain products to you or show you advertising you may be interested in.
 </p><p>

We also use the information we collect to:
 </p><p>
Send you updates on product prices and availability, newsletters, marketing materials and other information that may be of interest to you. Your email and notification settings can be changed at any time through your account dashboard.

 </p><p>

Respond to your questions or comments.
Transferring your information
By using our products or services, you authorize us to transfer and store your information outside of your home country, including in the United States, for the purposes described in this policy. The privacy protections and the rights of authorities to access your personal information in such countries may not be equivalent to those in your home country.
What choices do you have about your information?
Our goal is to give you simple and meaningful choices over your information.

 </p><p>
To learn more about these choices, please see the information provided by the device or software provider.
 </p><p>
How and when do we share information?
We may share anonymous usage information with our affiliates and advertisers.
 </p><p>
Online advertisers typically use third party companies to audit the delivery and performance of their ads on websites and apps. We also allow these companies to collect this information on Hyphmode.
 </p><p>
User data may be made available to third party service providers such as Google to analyse website performance.
 </p><p>
Our policy on children’s information
Pinterest is not directed to children under 13. If you learn that your minor child has provided us with personal information without your consent, please contact us.
How do we make changes to this policy?
We may change this policy from time to time, and if we do we’ll post any changes on this page. If you continue to use Hyphmode after those changes are in effect, you agree to the revised policy. If the changes are significant, we may provide more prominent notice or get your consent as required by law.
 </p><p>
 </p></div></div>
