





  <div class="row">
              <div class="col-md-12 no_pad_right">




        <%= simple_form_for(@bucket, input_html: {class: "bformo"}) do |f| %>
        <%= f.input :name, label: "Collection Name", required: true %>

        <%= f.submit "submit", id: "newempty" %>
        <% end %>
        <p class="bucket_name_errors">&nbsp;</p>




  </div>
              </div>




