.sign-up {
  padding: 50px;

  #user_footsize {
    max-width: 100px;
  }


}

.sign-up-right-panel {
  background-image: image-url("aj1.jpg");
  background-size: cover;
  background-position: bottom;
  min-height: 100vh;


}

.form_body {
  // display: table;
  width: 100vw;
  margin-bottom: -250px;
}


.left-side {

    border-top: 1px solid;
}

.minus-footer-margin {
  margin-bottom: -250px;
}

a.login_button {
    color: white!important;
  background-color: $kickPurple;
  display: inline-block;
      border-radius: 2px;
    padding: 10px;
    margin-top: 2px;



      &:hover {
        opacity: 0.9;
    }
}

.new_sneaker {
  margin: 0 auto;
  padding: 2% 20%;

  h2 {
    padding: 0 10%;
  }

  form {
    padding: 1% 10%
  }
}

.new_blog {
  margin: 0 auto;
  padding: 2% 5%;

  h2 {
    padding: 0 10%;
  }

  form {
    padding: 1% 10%
  }
}

//summernote

.note-editing-area {
  min-height: 200px;
}

// Admin styles

.user_list {
  border: 1px solid #bebebe;
    max-height: 300px;
    overflow: auto;
    padding: 10px;
}

.vend_man_row {
  border: 1px solid #bebebe;
  padding: 5px;
  margin: 5px 0;
}

.admin_size_list {
  font-size: 0.7em;
  padding-top: 3px;

  li {
    padding-left: 2px;
    padding-right: 2px;
  }
}

//breadcrumbs


