.flexslider .slides > li .active {
  display: block;
}

#mod2 {

  p.store_count {
    font-size: 0.8em;
  }
  h4.sneaker_title {
    font-size: 1.5em;
    color: $kickDarkGrey;
  }

  a {
    color: $kickPurple;
  }

  hr.details {
    margin: 2px 0 0 0;
  }

  .style_code {
      color: #b1b1b1;
      font-size: 0.8em;
  }

  .brand_logo {
    max-height: 60px;
    max-width: 100%;
  }

  h4.logo_container {
    text-align: right;
  }
}

.noDisplay {
  display: none;
}

.noDisplay-fade {
  display: none;
}

.overflow-rigid {
  overflow: visible;
}

.bucket_added {
  color: $kickDarkGrey;
  background-color: $kickGrey;
  padding: 5px;
  border-radius: 5px;
}

.noPriceWatch, .noPriceWatch_new_bucket {
  padding-left: 12px;
  color: $kickPurple;
  font-size: 0.8em;

}

.noPriceWatchBucket {
  padding-left: 20px;
  &:hover{
  background-color: #EFEFEF;

  }
}

.form-group#pin_price_watch {
  margin-bottom: 0;
}

#new_bucket {
  margin-bottom: 10px;
}

#pin_price_watch, .bucket_pins_price_watch {
  width: 100%;
  margin-bottom: 0;

  option {
    text-overflow: ellipsis;
    list-style: none;
    line-height: 50px;
    height: 50px;
    color: white;
    background-color: #4d4d4d;

    &:hover {
      color: $kickPurple;
    }
}
}

.bucketListButton {
  padding: 10px;
  border: 1px solid $kickRed;
  background-color: $kickRed;
  display: inline-block;
  color: white;
  border-radius: 5px;
   border: 3px solid white;

  &:hover {
    border: 3px solid $kickGrey;
  }
}

.social {
  padding-top: 20px;
  padding-bottom: 20px;
}
.addPriceWatchLow {
  padding: 10px;
  display: inline-block;

}

.priceWatchSet {
  padding: 0px;
  display: inline-block;
  color: $kickPurple;

}
.addPriceWatchNone {
  padding: 10px;
  border: 1px solid $kickRed;
  background-color: $kickRed;
  display: inline-block;
  color: white;
  border-radius: 5px;
}

.bucketListButtonGrey {
  padding: 10px;
  border: 2px solid $kickPurple;

  display: inline-block;
  color: $kickPurple;
  border-radius: 5px;

  &:hover {
     background-color: #eeeeef;
     cursor: pointer;

     i {
      color: $kickRed;
     }
  }
}

.working {
   padding: 10px;
  border: 1px solid $kickRed;
  color: $kickRed;
  background-color: white;
  border-radius: 5px;
  display: inline-block;
}

input:focus, select:focus {
  outline: none!important;
}

*:focus {
    outline: none!important;

  -webkit-box-shadow: none;
  box-shadow: none;
}

select option {
 font-size: 16px;
  text-align: left;
  line-height: 24px;
  padding: 4px;

&:hover{
  background-color: #EFEFEF;

}
}

.noButton .form-control, .bucket_pins_price_watch .form-control {
  -webkit-box-shadow: none;
  box-shadow: none;
  border:none;
  width: 98%;
  &:focus {
  outline: none;
  }
      option {


        &:hover {
          cursor: pointer;
    }
  }
}

.form-control:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
  border-color: #ccc;
}

select {
  overflow: auto;
}



.miniMod .noButton select.form-control.select {
  width: 100%
}


.bucketListForm .noButton input[type=submit], #new_bucket input[type=submit] {
  display: none;
}

.newBucket {
  text-align: center;
  margin-top: 30px;
}

.displayNewBucket {
  padding: 8px;
  font-size: 16px;
  width: 100%;
  background-color: $kickRed;
  color: white;

  display: block;
}
a.displayNewBucket {
  color: white!important;
    border-radius: 0px;
}



.card {
    min-height: 50vh;
    vertical-align: bottom;
    margin: 0 auto;
    // position: relative;
}

.card2 {
    // min-height: 50vh;
    height: 100%;
    width: 100%;
    vertical-align: bottom;
    margin: 0 auto;
  //  transform: translateX(-200%);
  // -webkit-transform: translateX(-200%);
  // position: absolute;
  z-index: 10;
  top: 0;
  background-color: white;

}



// modal experiments

.miniMod {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 3; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    min-height: 70vh;
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    border-radius: 5px;
}

.miniMod-content {
  background-color: #fefefe;
    margin: 5% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 55%;
    border-radius: 5px;
    overflow: hidden;
}





.card3 {
    // min-height: 50vh;
    height: 100%;
    width: 90%;
    vertical-align: bottom;
    margin: 0 auto;
   transform: translateX(110%);
  -webkit-transform: translateX(110%);
  position: absolute;
  z-index: 10;
  top: 0;
  background-color: white;

}

.card4 {
    // min-height: 50vh;
    height: 100%;
    width: 100%;
    vertical-align: bottom;
    margin: 0 auto;
   transform: translateX(-200%);
  -webkit-transform: translateX(-200%);
  position: absolute;
  z-index: 10;
  top: 0;
  background-color: white;

}

.bucketListForm {
  // height:60vh;

}


.addPriceWatch {
  top: 40%;
  transform: translateY(50%);
  text-align: center;
  max-width: 200px;
  margin: 0 auto;
  padding: 10px;
  background-color: $kickRed;
  position: relative;
}

.modal-body {
  padding: 0 15px 15px;
}

.noButton {
  // margin: 50% auto;
}

.left-drawer {
    background: rgba(255, 255, 255, 1);
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
}
.left-drawer-content {
    display: table-cell;
    padding: 15px;
}

.vend_scroll {
  max-height: 700px;
  overflow: scroll;
  overflow-x: hidden;
}

.fullCard {
  position: relative;

}

.modal-main-image {


   &:hover {
    .social_share {
      display: block;
    }
   }
}

.leftside-modal-footero {
  padding-top: 10px;
}

hr .break {
   border-bottom: 1px solid #EDEDED;
}


.social {
    h5 {
      margin-bottom: 2px;
    }

  .list-inline {
    display: inline-block;
    border-top: 3px solid #EDEDED;
    padding-top: 7px;
}
}

.image_large {
  max-width: 100%;
}

.size_list {
  margin-right: 3px;
  padding: 3px;
  background-color: #4d4d4d;
  color: white;

  border-radius: 3px;
  margin-bottom: 3px;
  min-width: 32px;
  text-align: center;
  font-size: 0.7em;
}

.price_badge {
  margin-top: 5px;

  padding: 3px;
  background-color: #4d4d4d;
  color: white;
  font-size: 0.8em;
  border-radius: 3px;
}

.price, .previous_price {
  padding-right: 0;
  p {
text-align: right;
line-height: 1.2;

}

}

.previous_price {
  text-decoration: line-through;
}

.ul_size_list {
  margin-left: 0px;
  margin-bottom: 0px;
}

.myrow {
    font-size: 0;
}
.myrow > * {
    float: none;
    display: inline-block;
    font-size: 14px; /* if using LESS it's quicker to just use @font-size-base */
}
.myrow > *:last-child {
    vertical-align: bottom;
}
.myrow p:last-child {
    margin-bottom: 0; /* optional */
}

.shop_link {
  background-color: $kickRed;
  color: white;
  padding: 7px;
  font-size: 1em;
  text-align: center;
      border: 3px solid white;
   &:hover {
    cursor: pointer;
    border: 3px solid #E3E3E3;
   }
}

.shop_name {
    color: #b1b1b1;
    font-size: 0.8em;
    padding-top: 2px;
    margin-bottom: 3px;
}

.vendor_card {
  border: 1px solid #EDEDED;
  margin-bottom: 5px;
  margin-right: -12px;
  max-width: 103%;
  padding-top: 10px;
  padding-bottom: 5px;
  margin-left: -8px;
}

.vendor_logo {
  max-width: 100%;
  max-height: 80px;
}

.vendor_price {
  // margin-top: 50%;
  //   -webkit-transform: translateY(-50%);
  // transform: translateY(-50%);

}

.vendrow {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
  padding-top: 10px;
}

.vendrow-b {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
  padding-top: 0px;
}

.no-right-padding {

  padding-right: 0;
}

.lower_vendrow {
  padding: 10px 0;

  h5 {

    padding: 0;
    font-size: 0.8em;
    text-align: right;
  }
}

ul.middle_info {
  font-size: 0.9em;
}

  .sizes_title {
    padding-right: 0;
  font-size: 0.8em;

      p {
        font-size: 0.8em;
      }
  }

.vendrow > [class*='col-'] {
   display: flex;
   flex-direction: column;
     justify-content: center;

  p {
    margin: 0;
    text-align: right;
  }

}

.vendrow-b > [class*='col-'] {
   display: flex;
   flex-direction: column;
     justify-content: flex-end;

  p {
    margin: 0 0 0 15px;
    text-align: left;
  }

}




.modal-content {
      max-width: 1100px;

    margin-left: auto;
    margin-right: auto;
  overflow: hidden;
  // height: 80vh;
}

.modal-dialog {
  max-width: 1100px;
}

.miniMod-header {
  font-size: 0.9em;
    padding-left: 10px;
    padding-bottom: 10px;
    color: $kickDarkGrey;
    font-weight: bold;
}

.view_more, .previous {

  height: 50px;
  line-height: 50px;
  border-top: 1px solid $kickGreyLight;

  p {
  padding-left: 10px;
  color: $kickPurple;


  i {
    display: none;
  }
}
&:hover {
      background-color: $kickGreyLight;
      cursor: pointer;
    i {
      display: inline-block;
    }
  }
}

.add_price_watch_copy {
  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}

ul.no_entry {


    text-align: center;

    li {
      width: 45%;
      &:hover {
      opacity: 0.9;
      cursor: pointer;
      }
      a {
        color: white!important;
        text-decoration: none;
      }
    }

}

#save_message {
  &:hover {
    cursor: pointer;
  }
}

@media (min-width:768px){
  .left-drawer {
      width: 50%;
  }
}



