.pin {
  border: 1px solid grey;
  margin-bottom: 20px;
  padding: 20%;
  border-radius: 5px;

  &:hover {
    background-color: #f2f2f2;
  }

  img {
    max-width: 90%;
    border-radius: 8px;
  }

  .pin-footer {
    text-align: center;
  }
}

.search_bar {
  text-align: center;

  input {
    width: 50%;
    height: 40px;
    color: #4d4d4d;
  }
}

.modal-content {
  -webkit-box-shadow: none;
    box-shadow: none;
    background-clip: none;
    border: none;
    border-radius: 10px;
}

.modal-backdrop {
   background-color: #f0f0f0;
   opacity: 0.90;
}

.modal-backdrop.in {
opacity: 0.90;
}

.modal-dialog {
  width: 70vw;
}

.nodisplay {
  display: none;
}
