.pagination {
  display: none;
}

.container {
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
  color: $kickDarkGrey;
}

a.purple_button {
  color: white!important;
   &:hover {
          color: white!important;
          text-decoration: none;
        }
}

.purple_button {
  color: white;
  background-color: $kickPurple;
  display: inline-block;
      border-radius: 5px;
    padding: 2px 10px;
    margin-top: 2px;



      &:hover {
        opacity: 0.9;
    }

}

.black_button {
  color: white;
  background-color: $kickDarkGrey;
  display: inline-block;
      border-radius: 5px;
    padding: 2px 10px;
    margin-top: 2px;
}

.black_button_small {
    color: white;
  background-color: $kickDarkGrey;
  display: inline-block;
      border-radius: 5px;
    padding: 2px 5px;
    margin-top: 2px;
    font-size: 0.8em;
}

.sneak_info {

  text-align: left;
  p {
    margin: 0 0 5px 15px;
  }

    font-size: 0.8em;
     background-color: white;
    border-radius: 0 0 10px 10px;
      padding-top: 10px;

    .brand_title {
        font-size: 0.95em;
    }

    .style_code {
      color: #b1b1b1;
      margin: 0 0 3px;
    }

  .sneaker_title {
    word-wrap: break-word;
    padding-left: 5px;
  &:hover {
    color: $kickPurple;
  }
}
}

.stores {
  position: absolute;
  display:none;
  top: 7%;
  padding: 4px 5px 4px 17px;
  background-color: rgba(86,80,80, 0.9);
  border-radius: 0 4px 4px 0;
  font-size: 0.9em;
  color: white;
}

.sale {
  position: absolute;
  right: 7%;
  top: 7%;
  color: $notification-red;
  font-size: 0.9em;
  padding: 4px 3px;

    background-color: rgba(256,256,256,0.7);
  border-radius: 4px;
}


.mod2 {

  .sneaker_thumb {
  &:hover {
   cursor: -moz-zoom-in;
    cursor: -webkit-zoom-in;
    cursor: zoom-in;

  }
}
}

  .mod2 {

     &:hover {
    background-color: $kickGreyLight;


   .share {
      display: block;
    }

     .stores {
      display: block;
    }

    .brand_title, .sneaker_title {
      color: $kickPurple;
    }
  }
  border-radius: 10px;
}

.brand_title, .sneaker_title {
  &:hover {
    cursor: pointer;
  }
}

.align-right {
  text-align: right;

}

.grid-item {
  width: 248px;
  margin-bottom: 10px;
  border-radius: 10px;
  border: 1px solid white;



    .orange {
         padding: 10px;
          text-align: center;
          position: relative;

          .share {
            position: absolute;
            left: 30px;
            top: 20px;
            font-size: 0.8em;
            background-color: $kickPurple;
            color: white;
            border-radius: 5px;
            padding: 4px;
            display: none;
          }
          hr {
            margin: 2px 0;
          }

          hr.img_seperator {
                width: 50%;
                margin: 0 auto;
                padding-bottom: 10px;
          }

        img {
          width: 100%;
          border-radius: 10px 10px 0 0;
          margin-bottom: 0px;
        }
      }

   &:hover {

            .share {
              display: block;
            }


          }


}

.grid-sizer {
  width: 200px;
}
.grid-item--width2 { width: 400px; }

.grid {
  margin: 0 auto;
}

.pin {
  border: 1px solid grey;
  margin-bottom: 20px;
  padding: 20%;
  border-radius: 5px;

  &:hover {
    background-color: #f2f2f2;

  }

  img {
    max-width: 90%;
    border-radius: 8px;
  }

  .pin-footer {
    text-align: center;
  }
}



.modal-content {
  -webkit-box-shadow: none;
    box-shadow: none;
    background-clip: none;
    border: none;
    border-radius: 10px;
}

.modal-backdrop {
   background-color: #f0f0f0;
   opacity: 0.90;
}

.modal-backdrop.in {
opacity: 0.90;
}

.modal-dialog {
  width: 70vw;
}

.nodisplay {
  display: none;
}
