.ui-state-default, .ui-state-focus, .ui-state-active, .ui-widget-content .ui-state-default, .ui-state-hover {

  border: none!important;
  background:none!important;
}


.ui-slider .ui-slider-handle {
  width: 8px!important;
  // background-color: #e9e9e9!important;
  background-image: image-url('slider_handle.gif')!important;
  top: -.5em;
  background-repeat: no-repeat!important;
  margin-left: -.3em!important;
  cursor: pointer;

    border: none!important;
    outline: none!important;

}


.ui-slider-horizontal {
  height: 0.4em;
  background: #ababab;
}

.ui-slider-range {
  background-color: #4d4d4d;
  height: 100%;
}

#slider-range {
  height: 8px;
}


.slider-range span {
  background-color: $kickPurple!important;
}



.ui-widget-header {
    border: none!important;
    background-color: #4d4d4d!important;
    color: #333333;
    font-weight: bold;
}


p.price_slider label, p.price_slider input#amount {
  font-size: 0.7em;
  font-weight: normal;
  max-width: 70px;
  border: none;
  margin-bottom: 5px;
  max-width: 75px;
}

p.price_slider label {
  margin-bottom: 5px;
}

// For facets

div.dropdown {

  button#dLabel {
  background-color: white;
  border: 1px solid $kickGreyLight;
  font-size: 0.8em;
  padding: 5px;

  .genderButton {
    border-radius: 3px 0 0 3px;
  }

  .brandButton {
    border-left: none;
    border-right: none;
  }

}
  ul.dropdown-menu {
     background-color: white;
  border: 1px solid $kickGreyLight;
  font-size: 0.8em;
  padding: 5px;
  border-radius: 0 0 5px 5px;
  border-top: none;
  -webkit-box-shadow: 8px 6px 12px rgba(0, 0, 0, 0.2);
  top: inherit;

  li {
    border-bottom: 1px solid $kickGreyLight;
  }

  i.fa-times-circle {
    color: $kickPurple;
  }


  i {
    padding-top: 5px;
    padding-bottom: 5px;
    margin-right: 5px;
  }
  }
}

.dropdown.open button {
  border-bottom: 1px solid white;
}

.dropdown, .facets, .kick_slider {
  display: inline;
}

.facets {
  align-self: flex-end;
}


.facet_row > [class*='col-'] {
   display: flex;
  padding-top: 20px;
     justify-content: center;

  p {
    margin: 0;
    text-align: right;
  }

}

.facet_row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;

}

.no_pad_left {
  padding-left: 0;
}
.no_pad_right {
  padding-right: 0;
}

.kick_slider {
  margin-left: 20px;
    padding-bottom: 2px;
}

// elipse

.page-load-status {
  display: none; /* hidden by default */
  padding-top: 50px;
  border-top: 1px solid #DDD;
  text-align: center;
  color: $kickPurple;
}

.loader-ellips {
  font-size: 20px; /* change size here */
  position: relative;
  width: 4em;
  height: 1em;
  margin: 10px auto;
}

.loader-ellips__dot {
  display: block;
  width: 1em;
  height: 1em;
  border-radius: 0.5em;
  background: $kickPurple; /* change color here */
  position: absolute;
  animation-duration: 0.5s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
}

.loader-ellips__dot:nth-child(1),
.loader-ellips__dot:nth-child(2) {
  left: 0;
}
.loader-ellips__dot:nth-child(3) { left: 1.5em; }
.loader-ellips__dot:nth-child(4) { left: 3em; }

@keyframes reveal {
  from { transform: scale(0.001); }
  to { transform: scale(1); }
}

@keyframes slide {
  to { transform: translateX(1.5em) }
}

.loader-ellips__dot:nth-child(1) {
  animation-name: reveal;
}

.loader-ellips__dot:nth-child(2),
.loader-ellips__dot:nth-child(3) {
  animation-name: slide;
}

.loader-ellips__dot:nth-child(4) {
  animation-name: reveal;
  animation-direction: reverse;
}

