<div class="row">
  <div class="col-md-12">
        <div class="padding-left-10p margin-top-3p"><%= link_to  sneakers_admin_show_path(@sneaker) do %>
      <i class="fa fa-arrow-left" aria-hidden="true"></i> Back to Sneaker Admin Panel
      <% end %>
    <div class="new_sneaker">
<h2>Edit Sneaker</h2>
<%= render 'form' %>
</div>
  </div>
</div>



